body {
	margin-top : 0px;
	font-family: 'Josefin Sans', sans-serif;
	color: #222;
	font-size: 16px;	
	line-height: 1.5;
	}

ul {
	list-style-type: square;
	margin-bottom: 50px;
	}

.container {
	margin: 0 30px;
	display: flex;
  position: relative;
	align-items: center;
	font-family: 'Abril Fatface', cursive;
	}

	.bottom-left {
  position: absolute;
  bottom: 120px;
  left: 330px;
	font-size: 36px;
}
.bottom-left-name {
  position: absolute;
  bottom: 40px;
  left: 330px;
	font-size: 72px;
}

h2 {
	text-transform: uppercase;
	margin: 50px 0 50px;
		
}
subtitle {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: bold;
  }

article {
		margin-bottom: 50px;
	}
	
.title {
	 font-size: 25px;
	 font-weight: bold;
}

.bigger {
	font-size: 19px;
	margin-top: 50px;
}

.main {
	max-width: 800px;
  margin: auto; 
	}

footer {
	max-width: 800px;
  margin: auto;
}


blockquote {
	background: #424242;
	width: 850px;
	margin: auto;
	padding: 50px;
	position: relative;
	font-size: 55px;
	color: white;
	font-family: 'Abril Fatface', cursive;

}

blockquote::before {
  content: '“';	
	position: absolute;
	top: -50px;
  left: 0px;
	font-size: 150px;
	color: white;
	font-family: 'Abril Fatface', cursive;
	}

	.text {
	margin: 0px;
	padding-left: 20px;
	}

	.line {
		width: 800px;
		margin: auto;
		height: 5px;
	  background: #424242;
			}